
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}

@model WEB.Models.Account.RegistrationModel
@{
    Html.EnableClientValidation(true);
}

<style type="text/css">
    .control-label {
        font-size: 13px;
        font-family: "Arial", serif;
        margin-left: 5px;

    }

    .form-control {
        height: 29px;
    }
</style>

@{Html.RenderPartial("PartialRegister");}

@using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions { HttpMethod = "POST"}))
{
    <br/>

    <div class="row" style="margin-left: 180px">
        <div class="col-md-4">
            <div class="form-horizontal">
                @*Login*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.Login, new {@class = "control-label"})
                    </div>

                    <div class="col-md-10">
                        @Html.TextBoxFor(t => t.Login, new {@class = "form-control", id = "login"})
                    </div>

                    <div class="col-md-offset-2 col-sm-10">
                        @Html.ValidationMessageFor(t => t.Login, "", new {@class = "text-danger"})
                    </div>
                </div>

                @*Password*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.Password, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.PasswordFor(t => t.Password, new {@class = "form-control"})
                    </div>

                    <div class="col-md-10">
                        @Html.ValidationMessageFor(t => t.Password, "", new {@class = "text-danger"})
                    </div>
                </div>

                @*ConfirmPassword*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.ConfirmPassword, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.PasswordFor(t => t.ConfirmPassword, new {@class = "form-control"})
                    </div>

                    <div class="col-md-10">
                        @Html.ValidationMessageFor(t => t.ConfirmPassword, "", new {@class = "text-danger"})
                    </div>
                </div>

                @*Email*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.Email, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.TextBoxFor(t => t.Email, new {@class = "form-control", id = "email"})
                    </div>

                    <div class="col-md-10">
                        @Html.ValidationMessageFor(t => t.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-horizontal">
                @*Univesity*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.University, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.DropDownList("University", (IEnumerable<SelectListItem>) ViewBag.ListOfUnivs, new {@class = "form-control"})
                    </div>
                </div>

                @*Institute*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.Institute, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.DropDownList("Institute", (IEnumerable<SelectListItem>) ViewBag.ListOfInstits, new {@class = "form-control"})
                    </div>
                </div>

                @*Group*@
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(t => t.Group, new {@class = "control-label label-for-form" })
                    </div>

                    <div class="col-md-10">
                        @Html.DropDownList("Group", (IEnumerable<SelectListItem>) ViewBag.ListOfGrps, new {@class = "form-control"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <hr/>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="form-group">
                 <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </div>
        </div>
    </div>
}



<script type="text/javascript">

    $(document).ready(function () {

        $("#btn-submit")
            .click(function(event) {

                event.preventDefault();

            });

        $("#login").blur(function () {

            var data = $('#login').val();

            if (data !== "") {
                $.post("/Account/CheckLogin/",
                {
                    login: data
                },
                null);
            }

        });

        $("#email").blur(function () {

            var data = $('#email').val();

            if (data !== "") {
                $.post("/Account/CheckEmail/",
                {
                    email: data
                },
                null);
            }
        });

    });

</script>
