
@using WEB.Models.Topic
@using WEB.Utility
@model TopicModel

<div class="row">
    <div class="col-md-4 topic-header">
        <span>@Model.Title</span>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        @foreach (var post in Model.Posts)
        {
            <div class="post-wrapper">

                <div class="col-md-3 post-info">
                    <span>@post.Author</span>
                    <br/>
                    <span>@post.CreationDate.ToLongDateString()</span>
                </div>

                <div class="col-md-5 post-content">
                    <p>@post.Content</p>
                </div>

            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_AddPost", new CreatePostModel{TopicId = Model.Id})
    </div>
</div>
