@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body style="background-image: url(../../Content/Images/use_your_illusion.png)">

    <style type="text/css">
        .navbar-brand:hover {
            background: linear-gradient(to top, #CA5102, #ff6c00);
            border-bottom: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>

    <div class="navbar navbar-fixed-top" style="background: linear-gradient(to left, #ff6600, #ff6c00); box-shadow: 4px 24px 39px -21px #000000; border-bottom: none; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-8">
                        @Html.ActionLink("Аггрегатор решений", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: black" })
                    </div>
                    <div class="col-md-4">
                        <a class="navbar-brand"style="color: black" href="/Account/Register/">Зарегаться</a>
                        @*@Html.Partial("/Account/PartialRegister")*@

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div style="background: linear-gradient(to bottom, #FFFFFF, #DBD7D2); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; box-shadow: 4px 24px 39px -21px #000000" class="container">

        @RenderBody()

    </div>

</body>
</html>
