@using WEB.Models.Account
@model LoginModel

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "loginFormUpdate"
}))
{
    @Html.HiddenFor(t => t.ReturnUrl)

    <div class="login-textbox-block">
            <div>
                @Html.LabelFor(t => t.UserName, new {@class = "control-label"})
                @Html.TextBoxFor(t => t.UserName, new { @class = "form-control" })
            </div>           
            <div>
                @Html.ValidationMessageFor(t => t.UserName, "", new {@class = "text-danger"})
            </div>
            <div>
                @Html.LabelFor(t => t.Password, new { @class = "control-label" })
                @Html.PasswordFor(t => t.Password, new { @class = "form-control" })
            </div>          
            <div>
                @Html.ValidationMessageFor(t => t.Password, "", new {@class = "text-danger"})
            </div>
            <div>
                <a href="#forgot-password">Забыли пароль?</a>
            </div>
            <div>
                @Html.CheckBoxFor(t => t.RememberMe)
                @Html.LabelFor(t => t.RememberMe)
            </div>
    </div>
    <hr/>

    <div>
        <input type="submit" value="Войти" class="btn btn-primary"/>
    </div>
    <div>
        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
    </div>
}

<div id="forgot-password" class="modal-window">
    @Html.Partial("_ForgotPasswordDialog", new ForgotPasswordModel())
</div>

<script>

    function loginFormUpdate(result) {
        if (result.success == true) {
            $("#layout-head").load("/Shared/LayoutHead/");
        } else {
            $("#login-box").html(result);
        }
    }

    $(document).ready(function () {
        $("#ReturnUrl").val(window.location.pathname);
    });

</script>


